<title>Rinku - A Tool for LinkedIn</title>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


<br><br>

<br>
<br>

<div class="row demo-row">

  <form action="/" method="POST">

    <div class="span3">      
      <input type="text" name="company_name" value="<%= @company_name %>" placeholder="Enter Company Name" class="span3" />
    </div>

    <div class="span3">
      <input type="submit" value="RINKU!" class="btn btn-small btn-block btn-primary">
    </div>

  </form>

</div>

<br>


<h2>Search Results for <%= @company_name %></h2>

<table id = "searchresults" class="table table-hover" >
  <tbody>
    <tr>
          <b><td>Name:</td></b>
          <b><td>Website URL:</td></b>
          <b><td>Id</td></b>
    </tr>

    <% if @search_results %>
      <% @search_results.each do |result| %>
        
        <tr>
        <% result.each do |k, v| %>       
          <td><%= v%></td>              
        <% end %>
        </tr>

      <% end %>

    <% end %>

  </tbody>
</table>


<br><br><br>

	<h2>Information for <%= @company_name %></h2>

	<table class="table">
	  <tbody>

      <tr>
      	<td>Website URL:</td>
        <td id="url">TBD</td>
      </tr>

      <tr>
      	<td>Email Domain:</td>
        <td id="email">TBD</td>
      </tr>

      <tr>
      	<td>Phone Number:</td>
        <td id="phone">TBD</td>
      </tr>

      <tr>
      	<td>Industry:</td>
        <td id="industry">TBD</td>
      </tr>

      <tr>
      	<td>Number of Employees:</td>
        <td id="employees">TBD</td>
      </tr>

      <tr>
      	<td>Company Status:</td>
        <td id="status">TBD</td>
      </tr>

      <tr>
      	<td>Company Type:</td>
        <td id="type">TBD</td>
      </tr>

	  </tbody>
	</table>

<script type="text/javascript">

  $(document).ready(function() {
    $('#searchresults').find('tr').click( function(){
      var row = $(this).index()
      var id  = $(this).find('td:last').text()
      $.ajax({
        url: '/determinerow',
        dataType: 'json',
        type: 'POST',
        data : { row: row, id: id},
        accepts: "application/json",
        success: function(row_results) {
          alert(row_results);
          // $('#url').val(row_results[7]);
          // $('#email').val(row_results[1]);
          // $('#phone').val(row_results[4]);
          // $('#industry').val(row_results[2]);
          // $('#employees').val(row_results[0];
          // $('#status').val(row_results[5]);
          // $('#type').val(row_results[6]);
        }
      })
    });
  });

</script>
