<title>Rinku - A Tool for LinkedIn</title>

<br><br>
<img src="http://images2.wikia.nocookie.net/__cb20120124215036/zelda/es/images/5/54/Link_Artwork_1_(Ocarina_of_Time).png" width="30%" height="30%">
 <br><br>

<div class="row demo-row">


  <form action="/" method="POST">



    <div class="span3">
      
      <input type="text" name="company_name" value="<%= @company_name %>" placeholder="Enter Company Name" class="span3" />


    </div>

    <div class="span3">
      <input type="submit" value="Search LinkedIn" class="btn btn-large btn-block btn-primary">
    </div>

  </form>

</div>

<br>
<br>

<% if @company_id %>
  <h4>Company ID for <%= @company_name %> is: <%= @company_id %></h4>
  
  <p>Company Info Hash = </p>
  
  <br>

  <%= @company_info.inspect %>

<% end %>